@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #1e1e1e;

  opacity: 1;
  background-image: radial-gradient(#c7c7c7 0.5px, #fff 0.5px);
  background-size: 10px 10px;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

body {
  opacity: 1;
  background-image: radial-gradient(#c7c7c7 0.5px, #fff 0.5px);
  background-size: 10px 10px;
}